In [1]:
!date

import numpy as np
import pandas as pd

try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

import matplotlib.pyplot as plt
import pymc3 as pm
import seaborn as sns
import theano.tensor as tt

from matplotlib.ticker import StrMethodFormatter

%matplotlib inline

Thu 08 Apr 2021 11:45:45 AM CDT

In [10]:
try:
    df_all = pd.read_csv("../data/Rugby_2014.csv")
except:
    df_all = pd.read_csv(pm.get_data("Rugby_2014.csv"), index_col=0)

In [11]:
df_all.head()

,Position,Nation,GamesPlayed,GamesWon,GamesDrawn,GamesLost,PointsFor,PointsAgainst,PointsDiff,Tries,Table points
0,1,Ireland,5,4,0,1,132,49,83,16,8
1,2,England,5,4,0,1,138,65,73,14,8
2,3,Wales,5,3,0,2,122,79,43,11,6
3,4,France,5,3,0,2,101,100,1,9,6
4,5,Scotland,5,1,0,4,47,138,−91,4,2